.App {
  text-align: center;
}

.blueTheme {
  color: hsl(240, 100%, 50%);
  background: hsl(180, 96%, 90%);
}

#workSpace {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}

.halfWidth {
  width:50vw;
  padding: 2px;
  margin: 2px;
}
